<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-12 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground"
    >
      Built by{' '}
      <a
        href="https://github.com/MagicalZhu"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        Ant
      </a>
    </p>
  </div>
</footer>
